.logo {
  margin: 2.4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: 4.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
}
.logoLink:hover {
  filter: brightness(0.75);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
